<div class="jumbotron">
    <h1 class="display-4">Typescript App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque asperiores vel quia voluptates, voluptatum architecto?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, iure.</p>
    <a href="#" class="btn btn-primary btn-lg">Task list</a>
</div>